.grid-container {
  height: 300px;
  width: 300px;
  background-color: var(--darkgrey);
  border: 2px solid var(--darkgrey);
  border-radius: 15px;
}

.grid-container:hover {
  border-color: rgb(2, 145, 2);
  transition: all 0.4s;
}

.grid-container-red:hover {
  border-color: rgb(174, 54, 54);
  transition: all 0.4s;
}

.info-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1rem 1.5rem;
}

.coin-logo {
  height: 3.5rem;
  width: 3.5rem;
}

.name-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.coin-symbol {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.coin-name {
  color: var(--grey);
  font-size: medium;
  font-weight: light;
  margin: 0;
}

.chip-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1rem 1.5rem;
  margin-top: 30px;
}

.price-chip {
  border: 2px solid rgb(53, 168, 53);
  border-radius: 2rem;
  padding: 0.35rem 1.25rem;
  text-align: center;
  font-weight: 500;
  color: rgb(87, 251, 87);
  font-size: 1rem;
  min-width: 60px;
}

.price-chip:hover,
.icon-chip:hover {
  background-color: rgb(2, 145, 2);
  color: var(--white);
  transition: all 0.4s;
}

.chip-red {
  border: 2px solid rgb(247, 74, 74) !important;
  color: rgb(247, 74, 74);
}

.chip-red:hover,
.icon-red:hover {
  background-color: rgb(174, 54, 54) !important;
  color: var(--white) !important;
  transition: all 0.4s;
}

.icon-chip {
  border: 2px solid rgb(87, 251, 87);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(87, 251, 87);
  font-size: 1rem;
}

.icon-red {
  border: 2px solid rgb(247, 74, 74) !important;
  color: rgb(247, 74, 74) !important;
}

.crypto-price-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  margin: 0.5rem 1.5rem;
}

.coin-price {
  font-weight: 400;
}

.coin-price-num {
  font-weight: 500;
}

.total-volume,
.market-cap {
  color: var(--grey);
  margin: 0.5rem 1.5rem;
}
