.coin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;
  padding-right: 9rem;
  /* border-bottom: 0.1ex solid grey; */
}

.coin-logo-name-symbol {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.coin-logo-name-symbol div {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.9rem;
}

.coin-header-logo {
  height: 90px;
  width: 90px;
}

.coin-header-coin-name {
  font-family: "Inter";
  font-weight: 600;
  font-size: 2.2rem;
}

.coin-header-coin-symbol {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: grey;
}

.coin-header-coin-price {
  font-family: "Inter";
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.coin-header-coin-rank {
  font-size: 1.5rem;
  color: aquamarine;
}

@media only screen and (max-width: 950px) {
  .coin-header-logo {
    height: 50px;
    width: 50px;
  }
  .coin-header-coin-name {
    font-size: 1.8rem;
  }
  .coin-header-coin-symbol {
    font-size: 1.3rem;
  }
  .coin-header-coin-price {
    font-size: 1.6rem;
  }
  .coin-header-coin-rank {
    font-size: 1.2rem;
  }
  .coin-header {
    padding: 0;
    justify-content: space-evenly;
  }
  .coin-logo-name-symbol {
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 660px) {
  .coin-header-coin-rank {
    display: none;
  }
  .coin-header {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 450px) {
  .coin-header {
    padding-left: 1rem;
    padding-right: 0.8rem;
  }

  .coin-logo-name-symbol div {
    gap: 0.5rem;
    align-items: center;
    margin-right: 0.6rem;
  }

  .coin-header-coin-name {
    font-size: 1.3rem;
  }
  .coin-header-coin-symbol {
    font-size: 0.8rem;
  }
}
